* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

header {
    position: relative;
    height: 400px;
    color: #fff;
    padding: 90px;
    font-size: 50px;
    color: white;
    z-index: 0;

}

.header-img::before {
    content: "";
    background-image: url('https://plus.unsplash.com/premium_photo-1674727219372-4ba6644106bc?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGJvb2t8ZW58MHwwfDB8fHww');
    background-size: cover;
    background-position: center;
    opacity: 0.6; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

header h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: black; 
    text-shadow: horizontal-offset vertical-offset blur-radius color;
    text-shadow: 2px 2px 5px white;
    font-size: 30px;
    padding-bottom: 20px;
    font-size: 100px;
}

header h6{
    font-size: 20px; 
    text-align:center; 
    font-family:cursive;
    background-color:black;
    padding : 10px 10px 10px 10px;
}

.head-column {
    font-size: 20px;
    background: linear-gradient(to right, #561C24, #7D0A0A);
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 25px; 
    color: #FFF; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    transition: background-color 0.3s;
}


.head-column:hover {
    background: linear-gradient(to right,#7D0A0A, #561C24 );
    }


nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background: url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3NoZWxmfGVufDB8MHwwfHx8MA%3D%3D') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
}

#hero h2 {
    margin-bottom: 1rem;
}


.about{
    text-align: center;
    margin: 10px 200px 10px 200px;
    color: #5F0F40;
}

.all-about h1{
    color: #5F0F40;
    text-shadow: horizontal-offset vertical-offset blur-radius color;
    text-shadow: 2px 2px 5px #5F0F40;
    font-size: 30px;
    padding: 30px 0 0px 0px;
}

.all-about h4{
    color: #5F0F40;
    text-shadow: horizontal-offset vertical-offset blur-radius color;
    text-shadow: 2px 2px 5px #5F0F40;
    font-size: 30px;
    padding: 10px 0 0px 0px;
}
.vision{
    text-align: justify;
    margin: 10px 700px 10px 200px;
    color: #5F0F40;
    

}

.vision  h4{
    margin: 20px 0px 10px 180px;
    text-decoration: none; 
    transition: color 0.3s ease;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #5F0F40;
    text-shadow: horizontal-offset vertical-offset blur-radius color;
    text-shadow: 2px 2px 5px #5F0F40;

}


.mission{
    text-align: justify;
    margin: -190px 120px 10px 750px;
    color: #5F0F40;

}
.mission  h4{
    margin-left: 180px;
    margin-bottom: 10px;
    text-decoration: none; 
    transition: color 0.3s ease;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #5F0F40;
    text-shadow: horizontal-offset vertical-offset blur-radius color;
    text-shadow: 2px 2px 5px #5F0F40;

}


.all-about {
    position: relative;
    z-index: 0;
    height: 500px;
    
}

.all-about::before {
    content: "";
    background-image: url('https://images.unsplash.com/photo-1491841651911-c44c30c34548?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8b2xkJTIwYm9va3N8ZW58MHwwfDB8fHww');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

#about,
#services,ur
#contact {
    padding:  0;
    text-align: center;
}



.service{
   
    text-decoration: none; 
    transition: color 0.3s ease;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: White;
    text-shadow: horizontal-offset vertical-offset blur-radius color;
    text-shadow: 2px 2px 5px #5F0F40;

}
.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 20px 0px 0px 500px;
    
}

form {
    display: flex;
    flex-direction: column;
    
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
}

form label {
    padding-top:  20px;
    color: #666;
}

form input {
    padding: 10px;
    
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s;
   
}

form textarea {
    margin-top: 10px;
    max-height: fit-content;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s;
}

form input:focus {
    outline: none;
    border-bottom: 2px solid #0072ff;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-container input {
    margin-right: 0.5rem;
}

form button {
    padding: 0.7rem;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin:20px 40px 20px 40px;
}

form button:hover {
    background: linear-gradient(to right, #0072ff, #00c6ff);
}

.submit {
    text-align: center;
    color: #666;
}

.submit a {
    color: #0072ff;
    text-decoration: none;
}

.submit a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
